.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 1;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar {
  background-color: #0000002f;
  padding: 1rem;
  height: 100%;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 18px;
  border: 5px solid black;
}

.sidebar.minimized {
  width: 85px;
}

.sidebar.active {
  width: 270px;
}

.sidebar-toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 0rem 0rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 5px;
  border: 5px solid #ef6108;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin:  5rem 0; /* Add margin to push items below the toggle button */
  border-radius: 5px;
}

.sidebar a {
  text-decoration: none;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem; /* Adjusted padding for consistency */
  border: 5px solid black;
  border-radius: 10px;
  font-size: 1.8rem;
  margin: 4rem 0;  /*change the distance between the elements in the icon*/
  text-align: center; /* Center the text */
}

.sidebar a .icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.sidebar a .text {
  display: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.sidebar.active a .text {
  display: inline;
  opacity: 1;
}

.sidebar a:hover {
  background-color: #ef6108;
  color: black;
}

.sidebar a.active {
  font-weight: bold;
}

.logout-container {
  padding: 0;
}

.sidebar .logout-button {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 10px;
  color: red;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.2rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem 0;  /*move the logout button in the sidebar*/
  text-align: center;
}

.sidebar .logout-button .icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.sidebar .logout-button .text {
  display: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.sidebar.active .logout-button .text {
  display: inline;
  opacity: 1;
}

.sidebar .logout-button:hover {
  background-color: red;
  color: white;
}