.excel-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 100%;
  overflow: auto;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.file-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #211e1e68;
  font-weight: bold;
}

.file-input:hover {
  background-color: #ef6108;
}

.table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.action-button {
  padding: 8px 16px;
  margin-right: 8px;
  background-color: #06bb1e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button.delete {
  background-color: #dc3545;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-button.delete:hover {
  background-color: #c82333;
}

.data-table {
  width: max-content;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  position: relative;
  white-space: nowrap; /* Prevent text wrapping */
}

.data-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.data-table th span {
  margin-left: 5px;
}

.data-table input {
  width: 100%;
  border: none;
  background: none;
  padding: 5px;
}

.data-table input:focus {
  outline: none;
  background-color: #eef;
}

.filter-select {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-select__control {
  width: 100%;
  border: 1px solid #ccc;
}

.filter-select__menu {
  width: 100%;
}

.download-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.download-button:hover {
  background-color: #0056b3;
}
.zoomed-column {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* Ensure column direction */
  align-items: center;
}

.zoomed-table-title {
  margin-bottom: 20px; /* Add vertical space between title and table */
  background-color: #f9f9f9;
  padding: 7px;
  border-radius: 4px;
  z-index: 1000; /* Ensure the title is above other elements */
}

.zoomed-table {
  width: 1000px; /* Increase the width of the zoomed table */
  border-collapse: collapse;
  background-color: white;
  margin-top: 6%;
}

.zoomed-table th,
.zoomed-table td {
  border: 5px solid #0f0e0eb6;
  padding: 10px; /* Make the cells taller */
  text-align: left;
  white-space: nowrap;
}

.zoomed-table input {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  border: 3px solid #ccc;
  border-radius: 8px;
}

.select-column-container {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Adjust as needed */
}

.select-column-text {
  margin-left: 5px; /* Space between checkbox and text */
  color: #007bff; /* Change text color */
  font-weight: bold; /* Make text bold */
  cursor: pointer; /* Change cursor to pointer */
}

/* Additional styles for checkbox if needed */
.select-column-container input[type="checkbox"] {
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
}

.select-row-container {
  width: 10px; /* Adjust the width of the select row column */
}

.zoomed-table-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.zoomed-table-actions {
  position: absolute;
  top: 10px; /* Initial top position */
  left: 10px; /* Adjust the left position as needed */
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure the buttons are above other elements */
}

.zoomed-table-title {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: -90px; /* Adjust the left position to align with the table */
  background-color: #f9f9f9;
  padding: 7px;
  border-radius: 4px;
  z-index: 1000; /* Ensure the title is above other elements */
  margin-bottom: 20px;
}
