.itequipment-view-container {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  overflow: hidden;
  min-height: 100vh; /* Ensure the container takes full viewport height */
}

.itequipment-view-back-button {
  margin-bottom: 9px;
  padding: 10px 20px;
  background-color: #FF6600;
  border: 4px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: -1125px;
  margin-top: 5px;
}

.itequipment-view-back-button:hover {
  background-color: #c24d00;
  transform: scale(1.05);
}

.itequipment-view-title {
  margin-bottom: 10px;
  font-size: 50px;
}

.itequipment-view-toggle-button {
  margin: 20px 0; /* Adds space above and below the button */
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: 4px solid black;
}

.itequipment-view-toggle-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.itequipment-view-table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh; 
  white-space: nowrap;
}

.itequipment-view-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
}

.itequipment-view-container .itequipment-view-data-table th, 
.itequipment-view-container .itequipment-view-data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  font-size: 13px; /* Increased font size */
}


.itequipment-view-data-table th {
  background-color: #f2f2f2;
  cursor: default;
}

.itequipment-view-row-even {
  background-color: #ffffff;
}

.itequipment-view-row-odd {
  background-color: #e6f7ff;
}

.itequipment-view-data-table th:first-child, 
.itequipment-view-data-table td:first-child {
  width: 50px;
}

.itequipment-view-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.itequipment-view-export-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: 4px solid black;
}

.itequipment-view-export-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}
