.telecom-landing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 15px;
  }
  
  .telecom-card {
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-top: 70px;
  }
  
  .telecom-view-card {
    background-color: #FFA500; /* Brighter orange color */
    color: white; /* Text color for contrast */
    margin-left: 150px;
  }
  
  .telecom-modify-card {
    background-color: #8B4513; /* Dimmer brown color */
    color: white; /* Text color for contrast */
  }
  
  .telecom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .telecom-card-content h3 {
    margin: 0;
    padding: 0;
    font-size: 27px; /* Increased font size */
    font-weight: bold; /* Made the font bold */
    text-align: center;
    color: antiquewhite;
  }
  
  .telecom-card-content p {
    font-size: 16px; /* Adjusted font size to be smaller than the heading */
    margin: 10px 0 0;
    text-align: center;
    color: black;
  }
  